@use 'cody/base' as *;

.section-galeria-projeto__item {
  width: 100%;
  border-radius: var(--space-xxs);
  background: var(--section-galeria-projeto-imagem);
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 1216 / 640;
  display: flex;
  justify-content: center;
  align-items: center;

  @include breakpoint(md) {
    height: 640px;
  }

  &.section-galeria-projeto__item--video {
    background: linear-gradient(0deg, rgba(18, 72, 124, 0.83) 0%, rgba(18, 72, 124, 0.83) 100%), var(--section-galeria-projeto-imagem);
    background-blend-mode: multiply, normal;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

.section-galeria-projeto__container {
  position: relative;
}

.section-galeria-projeto__prev,
.section-galeria-projeto__next {
  position: absolute;
  top: 50%;
  z-index: 2;
  border-radius: var(--space-xxxs);
  border: 1px solid var(--color-cinza-claro);

  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  color: var(--color-white);
  transition: all .2s ease-in-out;

  &:hover {
    background: var(--color-accent);
    color: var(--color-black);
    border: 1px solid var(--color-accent);
  }
}

.section-galeria-projeto__prev {
  left: 0;

  transform: translateY(-50%);

  @include breakpoint(md) {
    transform: translate(calc(-100% - var(--space-sm)), -50%);
  }

}

.section-galeria-projeto__next {
  right: 0;

  transform: translateY(-50%);

  @include breakpoint(md) {
    transform: translate(calc(100% + var(--space-sm)), -50%);
  }

}