@use 'cody/base' as *;

.section-confira-tambem {
  .titulo-secao {
    color: rgba(15, 21, 31, 1);
    font-weight: 900;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: -2%;
    text-transform: uppercase;
  }
}

.section-confira-tambem__prev,
.section-confira-tambem__next {
  border-radius: var(--space-xxxs);
  border: 1px solid var(--color-cinza-claro);

  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  color: var(--color-white);
  transition: all .2s ease-in-out;

  &:hover {
    background: var(--color-accent);
    color: var(--color-black);
    border: 1px solid var(--color-accent);
  }
}