@use 'cody/base' as *;

.block-accordions {

  &__imagem {
    box-sizing: border-box;
    width: 100%;
    min-height: 200px;
    border-radius: var(--space-xxs, );
    background: var(--block-accordions-imagem) lightgray 50% / cover no-repeat;
    padding: var(--space-md);

    @include breakpoint(md) {
      min-height: 560px;
    }
  }
}

.block-accordions__accordion {
  border-color: rgba(76, 88, 97, 0.40);

  &.accordion__item--is-open {
    &, .block-accordions__accordion-titulo {
      color: var(--color-accent);
    }
  }

  &, &-titulo {
    color: var(--color-white);
  }

  &-titulo {
    font-size: 18px;
    font-weight: 600;
    line-height: 110%;

    @include breakpoint(md) {
      font-size: 22px;
    }
  }
}