@use 'cody/base' as *;

.item-etapa-projeto-v1 {
  padding-bottom: var(--space-sm);
  border-bottom: solid 1px rgba(154, 164, 172, .3);

  &__numero {
    display: flex;
    width: 48px;
    height: 48px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: var(--color-primary);
    flex-shrink: 0;

    color: var(--color-white);
    text-align: center;
    font-size: 26px;
    font-weight: 800;
    line-height: 110%;
  }

  &__titulo {
    color: var(--color-white);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    letter-spacing: -0.18px;

    @include breakpoint(md) {
      font-size: 22px;
      letter-spacing: -0.22px;
    }
  }
}