@use "cody/base" as *;

.card-material {
  background: var(--color-white);
  border-radius: var(--space-xxs);
  overflow: hidden;
}

.card-material__imagem {
  width: 100%;
  height: 200px;
  background: var(--card-material-imagem) lightgray 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-material__info {
  flex: 1 0 auto;
  padding: var(--space-sm);
  align-self: stretch;
}

.card-material__titulo {
  color: var(--color-cinza-escuro-ultra);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: -0.18px;
}

.card-material__categoria {
  font-size: 14px;
  color: var(--color-white);
  padding: var(--space-xxxs) var(--space-xs);
  border-radius: 100px;
  background-color: var(--color-primary);
  font-weight: 600;
  letter-spacing: -0.14px;
  align-self: flex-start;
}

.card-material__texto {
  color: var(--color-cinza-medio);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -0.16px;
}

.card-material__btn {
  align-self: stretch;
}