@use "../base" as *;

:root,
[data-theme="default"] {
  // main
  @include defineColorHSL(--color-primary-darker, 212, 87%, 15%);
  @include defineColorHSL(--color-primary-dark, 212, 87%, 21%);
  @include defineColorHSL(--color-primary, 212, 87%, 27%);
  @include defineColorHSL(--color-primary-light, 212, 87%, 33%);
  @include defineColorHSL(--color-primary-lighter, 212, 87%, 39%);

  @include defineColorHSL(--color-accent-darker, 59, 79%, 39%);
  @include defineColorHSL(--color-accent-dark, 59, 79%, 45%);
  @include defineColorHSL(--color-accent, 59, 79%, 51%);
  @include defineColorHSL(--color-accent-light, 59, 79%, 57%);
  @include defineColorHSL(--color-accent-lighter, 59, 79%, 63%);

  @include defineColorHSL(--color-cinza-escuro-darker, 231, 4%, 20%);
  @include defineColorHSL(--color-cinza-escuro-dark, 231, 4%, 26%);
  @include defineColorHSL(--color-cinza-escuro, 231, 4%, 32%);
  @include defineColorHSL(--color-cinza-escuro-light, 231, 4%, 38%);
  @include defineColorHSL(--color-cinza-escuro-lighter, 231, 4%, 44%);
  @include defineColorHSL(--color-cinza-escuro-ultra, 216, 33.3%, 97.1%);

  @include defineColorHSL(--color-cinza-medio-darker, 0, 0%, 36%);
  @include defineColorHSL(--color-cinza-medio-dark, 0, 0%, 42%);
  @include defineColorHSL(--color-cinza-medio, 0, 0%, 48%);
  @include defineColorHSL(--color-cinza-medio-light, 0, 0%, 54%);
  @include defineColorHSL(--color-cinza-medio-lighter, 0, 0%, 60%);

  @include defineColorHSL(--color-cinza-claro-darker, 210, 15%, 83%);
  @include defineColorHSL(--color-cinza-claro-dark, 210, 15%, 89%);
  @include defineColorHSL(--color-cinza-claro, 210, 15%, 95%);
  @include defineColorHSL(--color-cinza-claro-light, 210, 15%, 98%);
  @include defineColorHSL(--color-cinza-claro-lighter, 210, 15%, 100%);

  @include defineColorHSL(--color-azul-escuro-darker, 214, 63%, 0%);
  @include defineColorHSL(--color-azul-escuro-dark, 214, 63%, 9%);
  @include defineColorHSL(--color-azul-escuro, 214, 63%, 18%);
  @include defineColorHSL(--color-azul-escuro-light, 214, 63%, 24%);
  @include defineColorHSL(--color-azul-escuro-lighter, 214, 63%, 30%);

  @include defineColorHSL(--color-black, 218, 35%, 9%);
  @include defineColorHSL(--color-white, 0, 0%, 100%);

  // feedback
  @include defineColorHSL(--color-warning-darker, 35, 79%, 48%);
  @include defineColorHSL(--color-warning-dark, 35, 79%, 56%);
  @include defineColorHSL(--color-warning, 35, 79%, 66%);
  @include defineColorHSL(--color-warning-light, 35, 79%, 74%);
  @include defineColorHSL(--color-warning-lighter, 35, 79%, 82%);

  @include defineColorHSL(--color-success-darker, 170, 78%, 26%);
  @include defineColorHSL(--color-success-dark, 170, 78%, 31%);
  @include defineColorHSL(--color-success, 170, 78%, 36%);
  @include defineColorHSL(--color-success-light, 170, 78%, 42%);
  @include defineColorHSL(--color-success-lighter, 170, 78%, 47%);

  @include defineColorHSL(--color-error-darker, 342, 89%, 38%);
  @include defineColorHSL(--color-error-dark, 342, 89%, 43%);
  @include defineColorHSL(--color-error, 342, 89%, 48%);
  @include defineColorHSL(--color-error-light, 342, 89%, 56%);
  @include defineColorHSL(--color-error-lighter, 342, 89%, 62%);

  // background
  @include defineColorHSL(--color-bg-darker, 240, 4%, 90%);
  @include defineColorHSL(--color-bg-dark, 240, 4%, 95%);
  @include defineColorHSL(--color-bg, 0, 0%, 100%);
  @include defineColorHSL(--color-bg-light, 0, 0%, 100%);
  @include defineColorHSL(--color-bg-lighter, 0, 0%, 100%);

  // color contrasts
  @include defineColorHSL(--color-contrast-lower, 240, 4%, 85%);
  @include defineColorHSL(--color-contrast-low, 240, 4%, 65%);
  @include defineColorHSL(--color-contrast-medium, 225, 4%, 47%);
  @include defineColorHSL(--color-contrast-high, 230, 7%, 23%);
  @include defineColorHSL(--color-contrast-higher, 230, 13%, 9%);
}

[data-theme="dark"] {
  // main
  @include defineColorHSL(--color-primary-darker, 250, 100%, 60%);
  @include defineColorHSL(--color-primary-dark, 250, 100%, 64%);
  @include defineColorHSL(--color-primary, 250, 100%, 69%);
  @include defineColorHSL(--color-primary-light, 250, 100%, 72%);
  @include defineColorHSL(--color-primary-lighter, 250, 100%, 76%);

  @include defineColorHSL(--color-accent-darker, 342, 92%, 41%);
  @include defineColorHSL(--color-accent-dark, 342, 92%, 47%);
  @include defineColorHSL(--color-accent, 342, 92%, 54%);
  @include defineColorHSL(--color-accent-light, 342, 92%, 60%);
  @include defineColorHSL(--color-accent-lighter, 342, 92%, 65%);

  @include defineColorHSL(--color-cinza-escuro-darker, 77, 72%, 32%);
  @include defineColorHSL(--color-cinza-escuro-dark, 77, 72%, 38%);
  @include defineColorHSL(--color-cinza-escuro, 77, 72%, 44%);
  @include defineColorHSL(--color-cinza-escuro-light, 77, 72%, 50%);
  @include defineColorHSL(--color-cinza-escuro-lighter, 77, 72%, 56%);

  @include defineColorHSL(--color-cinza-medio-darker, 77, 72%, 32%);
  @include defineColorHSL(--color-cinza-medio-dark, 77, 72%, 38%);
  @include defineColorHSL(--color-cinza-medio, 77, 72%, 44%);
  @include defineColorHSL(--color-cinza-medio-light, 77, 72%, 50%);
  @include defineColorHSL(--color-cinza-medio-lighter, 77, 72%, 56%);

  @include defineColorHSL(--color-cinza-claro-darker, 77, 72%, 32%);
  @include defineColorHSL(--color-cinza-claro-dark, 77, 72%, 38%);
  @include defineColorHSL(--color-cinza-claro, 77, 72%, 44%);
  @include defineColorHSL(--color-cinza-claro-light, 77, 72%, 50%);
  @include defineColorHSL(--color-cinza-claro-lighter, 77, 72%, 56%);

  @include defineColorHSL(--color-azul-escuro-darker, 212, 87%, 15%);
  @include defineColorHSL(--color-azul-escuro-dark, 212, 87%, 21%);
  @include defineColorHSL(--color-azul-escuro, 212, 87%, 27%);
  @include defineColorHSL(--color-azul-escuro-light, 212, 87%, 33%);
  @include defineColorHSL(--color-azul-escuro-lighter, 212, 87%, 39%);

  @include defineColorHSL(--color-black, 230, 13%, 9%);
  @include defineColorHSL(--color-white, 0, 0%, 100%);

  // feedback
  @include defineColorHSL(--color-warning-darker, 35, 79%, 48%);
  @include defineColorHSL(--color-warning-dark, 35, 79%, 56%);
  @include defineColorHSL(--color-warning, 35, 79%, 66%);
  @include defineColorHSL(--color-warning-light, 35, 79%, 74%);
  @include defineColorHSL(--color-warning-lighter, 35, 79%, 82%);

  @include defineColorHSL(--color-success-darker, 170, 78%, 26%);
  @include defineColorHSL(--color-success-dark, 170, 78%, 31%);
  @include defineColorHSL(--color-success, 170, 78%, 36%);
  @include defineColorHSL(--color-success-light, 170, 78%, 42%);
  @include defineColorHSL(--color-success-lighter, 170, 78%, 47%);

  @include defineColorHSL(--color-error-darker, 342, 92%, 41%);
  @include defineColorHSL(--color-error-dark, 342, 92%, 47%);
  @include defineColorHSL(--color-error, 342, 92%, 54%);
  @include defineColorHSL(--color-error-light, 342, 92%, 60%);
  @include defineColorHSL(--color-error-lighter, 342, 92%, 65%);

  // background
  @include defineColorHSL(--color-bg-darker, 232, 7%, 8%);
  @include defineColorHSL(--color-bg-dark, 233, 8%, 11%);
  @include defineColorHSL(--color-bg, 232, 11%, 15%);
  @include defineColorHSL(--color-bg-light, 233, 8%, 19%);
  @include defineColorHSL(--color-bg-lighter, 232, 7%, 22%);

  // color contrasts
  @include defineColorHSL(--color-contrast-lower, 240, 6%, 26%);
  @include defineColorHSL(--color-contrast-low, 240, 3%, 41%);
  @include defineColorHSL(--color-contrast-medium, 213, 3%, 57%);
  @include defineColorHSL(--color-contrast-high, 240, 5%, 82%);
  @include defineColorHSL(--color-contrast-higher, 240, 100%, 99%);
}

// background color
.bg-cinza-escuro-darker {
  background-color: alpha(var(--color-cinza-escuro-darker), var(--bg-o, 1));
}
.bg-cinza-escuro-dark {
  background-color: alpha(var(--color-cinza-escuro-dark), var(--bg-o, 1));
}
.bg-cinza-escuro {
  background-color: alpha(var(--color-cinza-escuro), var(--bg-o, 1));
}
.bg-cinza-escuro-light {
  background-color: alpha(var(--color-cinza-escuro-light), var(--bg-o, 1));
}
.bg-cinza-escuro-lighter {
  background-color: alpha(var(--color-cinza-escuro-lighter), var(--bg-o, 1));
}
.bg-cinza-medio-darker {
  background-color: alpha(var(--color-cinza-medio-darker), var(--bg-o, 1));
}
.bg-cinza-medio-dark {
  background-color: alpha(var(--color-cinza-medio-dark), var(--bg-o, 1));
}
.bg-cinza-medio {
  background-color: alpha(var(--color-cinza-medio), var(--bg-o, 1));
}
.bg-cinza-medio-light {
  background-color: alpha(var(--color-cinza-medio-light), var(--bg-o, 1));
}
.bg-cinza-medio-lighter {
  background-color: alpha(var(--color-cinza-medio-lighter), var(--bg-o, 1));
}
.bg-cinza-claro-darker {
  background-color: alpha(var(--color-cinza-claro-darker), var(--bg-o, 1));
}
.bg-cinza-claro-dark {
  background-color: alpha(var(--color-cinza-claro-dark), var(--bg-o, 1));
}
.bg-cinza-claro {
  background-color: alpha(var(--color-cinza-claro), var(--bg-o, 1));
}
.bg-cinza-claro-light {
  background-color: alpha(var(--color-cinza-claro-light), var(--bg-o, 1));
}
.bg-cinza-claro-lighter {
  background-color: alpha(var(--color-cinza-claro-lighter), var(--bg-o, 1));
}
.bg-azul-escuro-darker {
  background-color: alpha(var(--color-azul-escuro-darker), var(--bg-o, 1));
}
.bg-azul-escuro-dark {
  background-color: alpha(var(--color-azul-escuro-dark), var(--bg-o, 1));
}
.bg-azul-escuro {
  background-color: alpha(var(--color-azul-escuro), var(--bg-o, 1));
}
.bg-azul-escuro-light {
  background-color: alpha(var(--color-azul-escuro-light), var(--bg-o, 1));
}
.bg-azul-escuro-lighter {
  background-color: alpha(var(--color-azul-escuro-lighter), var(--bg-o, 1));
}

// border color
.border-cinza-escuro-darker {
  border-color: alpha(var(--color-cinza-escuro-darker), var(--bg-o, 1));
}
.border-cinza-escuro-dark {
  border-color: alpha(var(--color-cinza-escuro-dark), var(--bg-o, 1));
}
.border-cinza-escuro {
  border-color: alpha(var(--color-cinza-escuro), var(--bg-o, 1));
}
.border-cinza-escuro-light {
  border-color: alpha(var(--color-cinza-escuro-light), var(--bg-o, 1));
}
.border-cinza-escuro-lighter {
  border-color: alpha(var(--color-cinza-escuro-lighter), var(--bg-o, 1));
}
.border-cinza-medio-darker {
  border-color: alpha(var(--color-cinza-medio-darker), var(--bg-o, 1));
}
.border-cinza-medio-dark {
  border-color: alpha(var(--color-cinza-medio-dark), var(--bg-o, 1));
}
.border-cinza-medio {
  border-color: alpha(var(--color-cinza-medio), var(--bg-o, 1));
}
.border-cinza-medio-light {
  border-color: alpha(var(--color-cinza-medio-light), var(--bg-o, 1));
}
.border-cinza-medio-lighter {
  border-color: alpha(var(--color-cinza-medio-lighter), var(--bg-o, 1));
}
.border-cinza-claro-darker {
  border-color: alpha(var(--color-cinza-claro-darker), var(--bg-o, 1));
}
.border-cinza-claro-dark {
  border-color: alpha(var(--color-cinza-claro-dark), var(--bg-o, 1));
}
.border-cinza-claro {
  border-color: alpha(var(--color-cinza-claro), var(--bg-o, 1));
}
.border-cinza-claro-light {
  border-color: alpha(var(--color-cinza-claro-light), var(--bg-o, 1));
}
.border-cinza-claro-lighter {
  border-color: alpha(var(--color-cinza-claro-lighter), var(--bg-o, 1));
}
.border-azul-escuro-darker {
  border-color: alpha(var(--color-azul-escuro-darker), var(--bg-o, 1));
}
.border-azul-escuro-dark {
  border-color: alpha(var(--color-azul-escuro-dark), var(--bg-o, 1));
}
.border-azul-escuro {
  border-color: alpha(var(--color-azul-escuro), var(--bg-o, 1));
}
.border-azul-escuro-light {
  border-color: alpha(var(--color-azul-escuro-light), var(--bg-o, 1));
}
.border-azul-escuro-lighter {
  border-color: alpha(var(--color-azul-escuro-lighter), var(--bg-o, 1));
}
