@use '../base' as *;

// --------------------------------

// (START) Global editor code https://codyhouse.co/ds/globals/typography

// --------------------------------

:root {
  // font family
  --font-primary: 'Plus Jakarta Sans', sans-serif;

  // font weight
  --body-font-weight: 400;

  // font size
  --text-base-size: 1rem; // body font-size - ~16px
  --text-scale-ratio: 1; // multiplier used to generate the type scale values 👇

  // line-height
  --body-line-height: 140%;
  --heading-line-height: 120%;

  // capital letters - used in combo with the lhCrop mixin
  --font-primary-capital-letter: 1;

  // unit - don't modify unless you want to change the typography unit (e.g., from Rem to Em units)
  --text-unit: var(--text-base-size); // if Em units → --text-unit: 1em;
}

:root, * {
  // type scale
  --text-xxxxs: calc(0.625rem / var(--text-scale-ratio)); // 10/16
  --text-xxxs: calc(0.75rem / var(--text-scale-ratio)); // 12/16
  --text-xxs: calc(0.813rem / var(--text-scale-ratio)); // 13/16
  --text-xs: calc(0.875rem / var(--text-scale-ratio)); // 14/16
  --text-sm: calc(0.9375rem / var(--text-scale-ratio)); // 15/16
  --text-md: calc(1.063rem / var(--text-scale-ratio)); // 17/16
  --text-lg: calc(1.125rem / var(--text-scale-ratio)); // 18/16
  --text-xl: calc(1.25rem / var(--text-scale-ratio)); // 20/16
  --text-xxl: calc(1.375rem / var(--text-scale-ratio)); // 22/16
  --text-xxxl: calc(1.75rem / var(--text-scale-ratio)); // 28/16
  --text-xxxxl: calc(2rem / var(--text-scale-ratio)); // 32/16
  --text-xxxxxl: calc(2.625rem / var(--text-scale-ratio)); // 42/16
  --text-xxxxxxl: calc(3.25rem / var(--text-scale-ratio)); // 52/16
}


@include breakpoint(md) {
  :root {
    --text-base-size: 1rem;
    --text-scale-ratio: 1;
  }
}

body {
  font-family: var(--font-primary);
  font-weight: var(--body-font-weight);
}

a {
  text-decoration: none;
}

h1, h2, h3, h4 {
  font-family: var(--font-primary);
  --heading-font-weight: 700;
}


// font family
.font-primary {
  font-family: var(--font-primary);
}

// --------------------------------

// (END) Global editor code

// --------------------------------

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.link {
  text-decoration: none;
  background-image: linear-gradient(to right, currentColor 50%, alpha(var(--color-contrast-higher), 0.15) 50%);
  background-size: 200% 1px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  transition: background-position 0.2s;

  &:hover {
    background-position: 0% 100%;
  }
}

mark {
  background-color: alpha(var(--color-accent), 0.2);
  color: inherit;
}

.text-component {
  --line-height-multiplier: 1;
  --text-space-y-multiplier: 1;

  >* {
    // use Em units
    --text-unit: 1em;
    --space-unit: 1em;
  }

  blockquote {
    padding-left: 1em;
    border-left: 2px solid var(--color-accent);
    font-style: italic;
  }

  hr {
    background: var(--color-contrast-lower);
    height: 1px;
  }

  figcaption {
    font-size: var(--text-sm);
    color: var(--color-contrast-low);
  }
}

.article {
  // e.g., blog posts
  --body-line-height: 1.58; // set body line-height
  --text-space-y-multiplier: 1.2; // control vertical spacing
}