@use 'cody/base' as *;

.section-principal-orcamento__titulo {
  color: var(--color-white);
  font-size: 18px;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: -0.18px;


  @include breakpoint(md) {
    font-size: 22px;
    letter-spacing: -0.22px;
  }
}

.section-principal-orcamento__item {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.40);
  cursor: pointer;
  position: relative;

  &-titulo {
    color: var(--color-white);
    font-size: 16px;
    font-weight: 600;
    line-height: 110%;
    letter-spacing: -0.16px;

    @include breakpoint(md) {
      font-size: 18px;
      letter-spacing: -0.18px;
    }
  }

  &-icone {
    color: var(--color-accent);
  }
}

.section-principal-orcamento__item--instalacao {
  padding: var(--space-md) var(--space-xs);

  &:nth-of-type(2) {
    padding: var(--space-md) var(--space-xxs);
  }
}

.section-principal-orcamento__item--solucao {
  padding: var(--space-sm);
}

.section-principal-orcamento__item.section-principal-orcamento__item--ativo {
  background: var(--color-primary);
  border: 1px solid var(--color-primary);

  .section-principal-orcamento__item-icone {
    color: var(--color-white);
  }
}

.section-principal-orcamento__item .section-principal-orcamento__checkbox.custom-checkbox {
  pointer-events: none;

  .custom-checkbox__input:checked~.custom-checkbox__control {
    color: var(--color-accent);

    &::after {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpolyline points='2.5 8 6.5 12 13.5 3' fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'/%3E%3C/svg%3E");
    }
  }
}

.section-principal-orcamento__item--instalacao .section-principal-orcamento__checkbox.custom-checkbox {
  position: absolute;
  top: var(--space-xs);
  right: var(--space-xs);
  color: var(--color-accent);

  .custom-checkbox__input:not(:checked)~.custom-checkbox__control {
    display: none;
  }
}

.section-principal-orcamento__form-holder {
  padding: var(--space-lg);
  border-radius: var(--space-xxs);
  background: rgba(10, 67, 123, 0.30);
}