@use 'cody/base' as *;

.block-conteudo-faq {}

.block-conteudo-faq__accordion {
  border: none;
  border-radius: var(--space-xxs);
  background: rgba(10, 67, 123, 0.30);
  color: var(--color-white);
}

.block-conteudo-faq__sem-resultados {
  color: var(--color-white);
}