@use 'cody/base' as *;

.block-itens-faq__item {
  color: var(--color-white);
  border-color: rgba(76, 88, 97, 0.40);

  &.accordion__item--is-open {
    &, .block-itens-faq__item-titulo {
      color: var(--color-accent);
    }
  }

  &-titulo {
    font-size: 18px;
    font-weight: 600;
    line-height: 110%;

    @include breakpoint(md) {
      font-size: 22px;
    }
  }

  .block-itens-faq__item-texto {
    ul, ol {
      display: flex;
      flex-direction: column;
      gap: var(--space-xs);
      padding-left: var(--space-sm);
      list-style-position: outside;
    }
  }

  &:last-of-type {
    margin-bottom: var(--space-lg);
  }
}