@use 'cody/base' as *;

.section-principal-faq__form-input,
.section-principal-faq__form-select {
  background: transparent;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.40);
  color: var(--color-white);
  padding: var(--space-xs) var(--space-xl) var(--space-xs) var(--space-md);
}

.section-principal-faq__form-input {
  background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cg%20clip-path%3D%22url(%23clip0_7534_11620)%22%3E%3Cpath%20d%3D%22M1.42317%2019.7557L6.39733%2014.7815C8.05517%2016.137%2010.1706%2016.8035%2012.306%2016.643C14.4415%2016.4826%2016.4336%2015.5075%2017.8702%2013.9195C19.3069%2012.3315%2020.0783%2010.252%2020.0247%208.11119C19.9712%205.9704%2019.0969%203.93207%2017.5827%202.41783C16.0684%200.903588%2014.0301%200.0292815%2011.8893%20-0.024245C9.74851%20-0.0777715%207.66904%200.693577%206.08101%202.13025C4.49299%203.56693%203.51791%205.55901%203.35746%207.69445C3.19702%209.8299%203.86348%2011.9453%205.219%2013.6032L0.244832%2018.5773C0.093034%2018.7345%200.00904012%2018.945%200.0109379%2019.1635C0.0128357%2019.382%200.100478%2019.591%200.254985%2019.7455C0.409492%2019.9%200.618503%2019.9877%200.836999%2019.9896C1.0555%2019.9914%201.266%2019.9075%201.42317%2019.7557ZM5.00067%208.33315C5.00067%207.01461%205.39166%205.72568%206.1242%204.62935C6.85675%203.53302%207.89794%202.67854%209.11611%202.17395C10.3343%201.66937%2011.6747%201.53735%2012.9679%201.79458C14.2611%202.05182%2015.449%202.68676%2016.3814%203.61911C17.3137%204.55146%2017.9487%205.73934%2018.2059%207.03255C18.4631%208.32576%2018.3311%209.6662%2017.8265%2010.8844C17.3219%2012.1025%2016.4675%2013.1437%2015.3711%2013.8763C14.2748%2014.6088%2012.9859%2014.9998%2011.6673%2014.9998C9.89984%2014.9978%208.2053%2014.2948%206.95548%2013.045C5.70567%2011.7952%205.00265%2010.1007%205.00067%208.33315Z%22%20fill%3D%22%23F2CC37%22/%3E%3C/g%3E%3Cdefs%3E%3CclipPath%20id%3D%22clip0_7534_11620%22%3E%3Crect%20width%3D%2220%22%20height%3D%2220%22%20fill%3D%22white%22%20transform%3D%22matrix(0%201%20-1%200%2020%200)%22/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: right 32px center;
  background-size: 20px 20px;
  flex: 1 0 auto;

  &::placeholder {
    color: var(--color-cinza-claro);
  }

  &:-webkit-autofill, &:-moz-autofill {
    transition: background-color 1s 5000s;
    -webkit-text-fill-color: var(--color-white);
    -webkit-box-shadow: none;
  }
}

.section-principal-faq__form-select {
  appearance: none;
  background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M5%207L9%2011L13%207%22%20stroke%3D%22white%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: right 32px center;
  background-size: 18px 18px;

  select::-ms-expand {
    display: none;
  }

  &>option {
    background: var(--color-white);
    color: var(--color-black);

    &[disabled] {
      color: var(--color-cinza-claro);
    }
  }
}