@use 'cody/base' as *;

.section-conheca {

  &__selo {
    @media (min-width: 64rem) {
      position: absolute;
      z-index: 2;
      width: 166px;
      height: 166px;
      top: 10%;
      left: 90%;
      transform: translateY(-50%) translateX(-50%);
    }

    @media (max-width: 768px) {
      z-index: 2;
      width: 106px;
      height: 106px;
      background-size: cover;
      position: absolute;
      top: -20%;
      left: 80%;
    }
  }



  &__titulo-secao {
    color: var(--color-primary);
    font-weight: 700;
    font-size: 20px;
    line-height: 90%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }

  &__subtitulo-secao {
    color: var(--color-black);
    font-weight: 900;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: -2%;
    text-transform: uppercase;

    @include breakpoint(md) {
      font-size: 40px;
    }

  }

  &__secao-texto-titulo {
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -3%;

    & strong {
      color: var(--color-primary);
    }
  }

  &__secao-texto-texto p {
    color: #4E4F55;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: -2%;
  }

  &__box-numeros {
    position: relative;
    overflow: hidden;
    border-top: 10px solid var(--color-accent);
    background-color: var(--color-primary-darker);

    @include breakpoint(xs) {
      padding-left: var(--space-xs);
    }

    .numero {
      color: var(--color-white);
      font-weight: 700;
      font-size: 60px;
      line-height: 90%;
      letter-spacing: -2%;

      sup {
        font-size: 32px;
        line-height: 75%;
        letter-spacing: -1%;
      }
    }

    .texto {
      color: var(--color-white);
      font-weight: 400;
      font-size: 15px;
      line-height: 120%;
      letter-spacing: -2%;

      @include breakpoint(md) {
        font-size: 16px;
      }
    }
  }

  &__cta-link {
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
  }

}