@use 'cody/base' as *;
@use 'section-superior-resultados' as *;

.section-opcoes-financiamento__item {
  padding: var(--space-sm);
  background: rgba(10, 67, 123, 0.30);
  border-radius: var(--space-xxs);

  &-titulo {
    @extend .section-superior-resultados__info-titulo;
    text-align: center;
  }

  &-valor {
    @extend .section-superior-resultados__info-valor;
    text-align: center;
  }

  &-texto {
    color: rgba(255, 255, 255, 0.80);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: -0.18px;
  }
}

.section-opcoes-financiamento__block-cta {
  padding: var(--space-lg);
  background: var(--color-primary);
  border-radius: var(--space-xxs);

  &-texto {
    color: var(--color-white);
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.18px;

    @include breakpoint(md) {
      font-size: 22px;
      letter-spacing: -0.22px;
    }
  }
}