@use 'cody/base' as *;

.section-modalidades-geracao-distribuida {
  &__imagem {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.section-modalidades-geracao-distribuida__item {
  &:not(:last-child) {
    padding-bottom: var(--space-lg);
    border-bottom: solid 1px alpha(var(--color-cinza-claro), 0.3);
  }

  &-titulo {
    color: var(--color-cinza-escuro-ultra);
    font-family: "Plus Jakarta Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    letter-spacing: -0.18px;

    @include breakpoint(md) {
      font-size: 22px;
      letter-spacing: -0.22px;
    }
  }

  &-texto {
    color: var(--color-cinza-medio);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: -0.14px;

    @include breakpoint(md) {
      font-size: 16px;
      letter-spacing: -0.16px;
    }
  }
}