@use "cody/base" as *;

.banner-energia-solar-como-investimento {
  position: relative;
  border-radius: 8px;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  border-radius: var(--space-xxs, 8px);
  background: linear-gradient(90deg,
      rgba(18, 72, 124, 0.4) 0%,
      rgba(18, 72, 124, 0.1) 100%),
    radial-gradient(44.83% 50.92% at 35.73% 50.92%,
      rgba(18, 72, 124, 0.08) 0%,
      rgba(18, 72, 124, 0.3) 100%),
    linear-gradient(0deg, rgba(39, 46, 52, 0.6) 0%, rgba(39, 46, 52, 0.6) 100%),
    var(--banner-energia-solar-imagem) lightgray 50% / cover no-repeat;
  background-blend-mode: multiply, normal, multiply, normal;
}

.banner-energia-solar-como-investimento__subtitulo {
  color: var(--color-accent);
  font-size: 18px;
  text-transform: uppercase;
}

.banner-energia-solar-como-investimento__titulo {
  color: var(--color-white);
  font-size: 32px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: -0.32px;
  margin-bottom: 36px;

  @include breakpoint(md) {
    font-size: 46px;
    letter-spacing: -0.46px;
  }
}

.banner-energia-solar-como-investimento__card {
  border-radius: 8px;
  background: var(--color-primary);
  padding: var(--space-md);

  @include breakpoint(md) {
    padding: var(--space-lg);
  }
}

.banner-energia-solar-como-investimento__card-h2 {
  color: var(--color-white);
  font-size: 18px;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: -0.18px;

  @include breakpoint(md) {
    font-size: 22px;
    letter-spacing: -0.22px;
  }
}

.banner-energia-solar-como-investimento__card-texto {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -0.16px;
}