@use 'cody/base' as *;

.section-nossos-servicos {
  &__ver-todos {
    border-radius: var(--space-xxs);
    padding: var(--space-xs) var(--space-lg);
    background: var(--color-primary);
    height: 146px;
    box-sizing: border-box;
    width: 100vw;
  }
}