@use "cody/base" as *;

.section-newsletter {
  &__container {
    border-radius: var(--space-xxs);
  }

  &__titulo {
    color: var(--color-black);
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -3%;

    span {
      color: var(--color-primary);
    }
  }

}

.section-newsletter__form-container {
  flex-wrap: nowrap;

  form {
    display: flex;
    gap: var(--space-xs);
    // flex-wrap: nowrap;

    input {
      border: 1px solid #7A7A7A4D;
      background: var(--color-white);

      display: flex;
      height: 50px;
      padding: 8px var(--space-sm, 24px);
      align-items: center;
      gap: var(--space-xs, 16px);
      align-self: stretch;
      border-radius: var(--space-xxs);

      &::placeholder {
        color: #4E4F55;
      }
    }

    .btn {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: center;
    }

    .btn:hover {
      background-color: var(--color-primary);
      color: var(--color-white);
    }
  }
}

.section-newsletter__form-wrapper {
  &>* {
    flex-grow: 0;
    flex-shrink: 1;
  }
}