@use 'cody/base' as *;

.section-nossos-servicos {

  .btn--swiper {
    background-color: var(--color-white);
  }

  .btn--swiper:hover {
    background-color: var(--color-accent);
  }

  .swiper-button-disabled {
    opacity: 1;
  }

  &__titulo-secao {
    color: var(--color-primary-light);
    font-weight: 700;
    font-size: 20px;
    line-height: 90%;
    letter-spacing: 0%;
    text-transform: uppercase;

  }

  &__subtitulo-secao {
    color: var(--color-primary-darker);
    font-weight: 900;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: -2%;
    text-transform: uppercase;

  }

  &__slogan-secao {
    font-weight: 400;
    font-size: 16px;
    line-height: 90%;
    letter-spacing: 0%;
    color: #4E4F55;
  }
}