@use 'cody/base' as *;

.section-solucoes {
  &__imagem-tab {
    padding: var(--space-lg);
    border-radius: var(--space-xxs, 8px);
    background: linear-gradient(180deg, rgba(17, 31, 44, 0.00) 23.91%, rgba(17, 31, 44, 0.80) 101.13%), var(--section-solucoes-imagem-tab) lightgray 50% / cover no-repeat;
    background-blend-mode: multiply, normal;
    min-height: 320px;
  }

  &__icone {
    color: var(--color-accent);
    transition: color .2s ease-in-out;
  }

  .section-solucoes__item {
    text-decoration: none;
    padding: var(--space-md);
    align-items: center;
    border-radius: var(--space-xxs);

    .section-solucoes__solucao-texto {
      display: none;
    }
  }

  .section-solucoes__item[aria-selected=true] {
    background: var(--color-primary);
    box-shadow: var(--shadow-sm);
    position: relative;
    z-index: 1;
    align-items: flex-start;

    .section-solucoes__solucao-texto {
      display: block;
    }

    .section-solucoes__solucao-titulo {
      color: var(--color-white);
    }

    .section-solucoes__icone {
      color: var(--color-white);
    }
  }

  .section-solucoes__item:not([aria-selected=true]):hover {
    background: alpha(var(--color-primary), .3);
    box-shadow: var(--shadow-sm);

    .section-solucoes__solucao-titulo {
      color: var(--color-white);
    }
  }

  .section-solucoes__solucao-titulo {
    color: var(--color-white);
    font-size: 18px;
    font-weight: 600;
    line-height: 110%;
    margin-bottom: 0;

    @include breakpoint(md) {
      font-size: 22px;
      letter-spacing: -0.22px;
    }
  }

  .section-solucoes__solucao-texto {
    color: rgba(255, 255, 255, 0.80);
    font-size: 1rem;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: -0.16px;
  }
}

// .section-solucoes {
//   .section-solucoes__item {
//     width: 100%;
//     padding: var(--space-sm, 24px) var(--space-md, 32px);
//     border-radius: var(--space-xxs);
//     background: var(--color-cinza-claro);

//     &[aria-selected="true"] {
//       text-decoration: none;
//       background-color: var(--color-primary);

//       background-image: url('data:image/svg+xml;utf8,<svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.22223 10.1111L13 15.8889L18.7778 10.1111" stroke="white" stroke-width="2.16667" stroke-linecap="round" stroke-linejoin="round" /></svg>');
//       background-repeat: no-repeat;
//       background-position: calc(100% - 24px) center;

//       @include breakpoint(md) {
//         background-image: url('data:image/svg+xml;utf8,<svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.1111 18.7778L15.8889 13L10.1111 7.22222" stroke="white" stroke-width="2.16667" stroke-linecap="round" stroke-linejoin="round"/></svg>');
//       }
//     }

//     &:focus {
//       border: none;
//     }
//   }
// }

// .section-solucoes__tab-pessoas {
//   font-size: 16px;
//   font-weight: 400;
//   line-height: 95%;
//   letter-spacing: -0.16px;

//   .section-solucoes__item & {
//     color: var(--color-cinza-escuro);
//   }

//   .section-solucoes__item[aria-selected="true"] & {
//     color: var(--color-white);
//   }
// }

// .section-solucoes__tab-nome {
//   font-size: 20px;
//   font-weight: 600;
//   line-height: 95%;
//   letter-spacing: -0.2px;

//   .section-solucoes__item & {
//     color: var(--color-black);
//   }

//   .section-solucoes__item[aria-selected="true"] & {
//     color: var(--color-white);
//   }
// }

// .section-solucoes__titulo.titulo-secao {
//   br {
//     display: block;
//   }
// }