@use 'cody/base' as *;

.section-tres-passos {}

.section-tres-passos__item {
  &:not(:nth-child(3)) {
    padding-bottom: var(--space-lg);
    border-bottom: solid 1px alpha(var(--color-cinza-claro), 0.3);
  }


  &-numero {
    display: flex;
    width: 48px;
    height: 48px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: var(--color-accent);

    color: var(--color-cinza-escuro-ultra);
    font-size: 26px;
    font-weight: 800;
    line-height: 110%;
    flex: 0 0 48px;
  }


  &-titulo {
    font-size: 18px;
    letter-spacing: -0.18px;
    color: var(--color-white);
    font-weight: 600;
    line-height: 110%;

    @include breakpoint(md) {
      font-size: 22px;
      letter-spacing: -0.22px;
    }
  }

  &-texto {
    color: rgba(255, 255, 255, 0.80);
    font-size: 14px;
    font-weight: 400;
    line-height: 130%;
    font-size: 14px;
    letter-spacing: -0.14px;

    @include breakpoint(md) {
      font-size: 16px;
      letter-spacing: -0.16px;
    }
  }

}

.section-tres-passos__item-lateral {
  background: var(--color-primary);
  padding: var(--space-sm);
  border-radius: var(--space-xxs);

  &-titulo {
    color: var(--color-white);
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 110%;
    letter-spacing: -0.16px;

    @include breakpoint(md) {
      font-size: 18px;
      letter-spacing: -0.18px;
    }
  }
}