@use 'cody/base' as *;

.item-nos-destacamos {
  color: var(--color-white);
  border-top-color: rgba(76, 88, 97, 0.40);
  border-bottom-color: rgba(76, 88, 97, 0.40);

  &.accordion__item--is-open {
    color: var(--color-accent);
  }

  &__titulo {
    font-size: 18px;
    font-weight: 600;
    line-height: 110%;

    @include breakpoint(md) {
      font-size: 22px;
    }
  }

  &__texto {
    color: var(--color-white);
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: -0.16px;
    opacity: 0.8;
  }
}