@use 'cody/base' as *;

.section-sobre {

  .swiper-pagination {
    bottom: auto !important;
  }

  padding: 4rem 0;
  background-color: #F0F2F4;

  &__titulo-secao {
    color: var(--color-primary);
  }

  &__subtitulo-secao {
    text-transform: uppercase;
    color: var(--color-black);
    font-weight: 900;
    font-size: 2.5rem; // 40px
  }

  &__foto-principal {
    background-position: center;
    background-size: cover;
    border-radius: 8px;
  }

  &__selo {
    position: absolute;
    top: 42.8rem;
    right: 33.5rem;
    z-index: 2;
    height: auto;
  }

}