@use 'cody/base' as *;

.section-nos-destacamos-dna {
  position: relative;
  overflow: hidden;

  &__conteudo {
    position: relative;
    z-index: 1;
  }

  &__deco {
    position: absolute;
    left: 0;
    top: 257px;
    z-index: 0;
    pointer-events: none;
  }

  &__brilho-esquerda {
    position: absolute;
    width: 826px;
    height: 1033px;
    border-radius: 1033px;
    opacity: 0.2;
    background: #1382EC;
    filter: blur(250px);
    top: 60px;
    left: 0;
    transform: translateX(-50%);
    z-index: 0;
    pointer-events: none;
  }

  &__brilho-direita {
    position: absolute;
    width: 826px;
    height: 1033px;
    border-radius: 1033px;
    opacity: 0.2;
    background: #1382EC;
    filter: blur(250px);
    transform: translateX(50%);
    top: 670px;
    right: 0;
    z-index: 0;
    pointer-events: none;
  }
}