@use 'cody/base' as *;

.section-sobre {

  &__selo {
    z-index: 2;
    position: absolute;
    background-size: cover;
    width: 100px;
    height: 100px;
    bottom: 450px;
    right: -25px;

    @include breakpoint(md) {
      width: 145px;
      height: 145px;
      bottom: 289px;
      right: -32px;
    }
  }

  .swiper-pagination {
    bottom: auto !important;
  }

  padding: 4rem 0;
  background-color: #F0F2F4;

  &__titulo-secao {
    color: var(--color-primary);
  }

  &__subtitulo-secao {
    text-transform: uppercase;
    color: var(--color-black);
    font-weight: 900;
    font-size: 2.5rem; // 40px
  }

  &__foto-principal {
    background-position: center;
    background-size: cover;
    border-radius: 8px;
  }


}