@use 'cody/base' as *;

.section-timeline {
	background-color: #F0F2F4;

	&__titulo-secao {
		color: var(--color-primary);
		font-weight: 700;
		font-size: 1.25rem;
		line-height: 0.9;
		letter-spacing: 0;
		text-transform: uppercase;
	}

	&__subtitulo-secao {
		color: var(--color-black);
		font-weight: 900;
		font-size: 2.5rem;
		line-height: 1;
		letter-spacing: -0.02em;
		text-transform: uppercase;
	}


	&__date {
		font-weight: 500;
		color: var(--color-contrast-medium);
		cursor: pointer;
		position: relative;
		padding-bottom: 4px;
		padding-top: 12px;
	}

	&__dates{
		border-top: 2px solid var(--color-contrast-medium);
	}

	&__date.active {
		color: var(--color-primary);
	}

	&__date.active::before {
		content: '';
		position: absolute;
		top: -7px;
		left: 50%;
		transform: translateX(-50%);
		width: 0;
		height: 0;
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		border-bottom: 6px solid var(--color-primary);
		z-index: 2;
	}

	&__date.active::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 1px;
		background: var(--color-primary);
		z-index: 1;
	}

}