@use 'cody/base' as *;

.section-principal-materiais__busca {
  width: 380px;
  max-width: 100%;
  position: relative;
}

.section-principal-materiais__input {
  width: 100%;
  border-radius: var(--space-xxs);
  padding: var(--space-xs) var(--space-xl) var(--space-xs) var(--space-sm);
  border: 1px solid rgba(255, 255, 255, 0.40);
  color: var(--color-white);

  &::placeholder {
    color: var(--color-cinza-claro);
  }

  &, &:hover, &:focus {
    background: transparent;
  }
}

.section-principal-materiais__btn {
  display: block;
  position: absolute;
  top: 50%;
  right: var(--space-xxs);
  background: none;
  border: none;
  transform: translateY(-50%);
  cursor: pointer;
}

.section-principal-materiais__paginacao {
  border-radius: var(--space-xxs);
  background: rgba(10, 67, 123, 0.30);
  padding: var(--space-md);
}

.section-principal-materiais__notfound {}


.section-principal-materiais__tabs {
  overflow-x: auto;
  height: 72px;

  @include breakpoint(md) {
    scrollbar-width: thin;
    scrollbar-color: var(--color-primary) transparent;
  }
}

.section-principal-materiais__tab {
  height: fit-content;
  box-sizing: border-box;
}

.section-principal-materiais__tab>.tabs__control {
  box-sizing: border-box;
  padding: 0 var(--space-sm) var(--space-sm) var(--space-sm);

  color: var(--color-white);
  font-size: 14px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: -0.14px;

  color: var(--color-white);
  border-bottom: 2px solid rgba(154, 164, 172, 0.40);

  &:focus {
    outline: none;
  }

  &:hover {
    color: var(--color-accent-lighter);
    border-bottom: 2px solid var(--color-accent-lighter);
  }

  @include breakpoint(md) {
    font-size: 16px;
    letter-spacing: -0.16px;
  }

  &[aria-selected="true"] {
    color: var(--color-accent);
    text-decoration: none;
    border-bottom: 2px solid var(--color-accent);
    pointer-events: none;
  }
}